* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geneva, Verdana, sans-serif
}

.mainform {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    background-color:navy;
    color: white;
    border: 1px solid black;
}

.mainform input, label, select, text {
    margin: 1rem;
}